* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  background-color: none;
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
}

.card-container {
  display: block;
}

.product-card {
  /*background-color: darkgray;*/

  padding: 15px;
  width: 300px;
  max-width: 100%;
  min-height: 450px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .cards {
    justify-content: center;
  }
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cart {
  min-height: 250px;
}

.product-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cart img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-name {
  font-weight: bold;
}

.product-description {
  white-space: pre-line;
}

.card-button {
  display: inline-block;
  align-self: flex-start;

  list-style: none;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  padding: 2.5px;
  margin-top: 8px;
  /*background-color: #ff7f7f;*/
  background-color: lightblue;

  transition: transform 0.3s ease;
}

.card-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.buy-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-button {
  padding: 10px 20px;
  grid-column: 1 / -1;
  justify-self: center;
  background-color: lightblue;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}
